* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
   font-family: "Poppins", sans-serif;
   /* background-image: url(images/bg-intro-mobile.png);
   background-color: hsl(0, 100%, 74%); */
   font-size: 16px;
}
.container {
    background-image:url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    gap:60px;
}
.text {
    color:white;
    width:50%;
    padding-left:80px;
}
h1 {
    margin-top:50px;
    font-size:2.5rem;
    font-weight:700;
    margin-bottom:1.5rem;
}
.text p {
    font-size:1.1rem;
    font-weight:400;
    line-height:1.5;
}
.right {
    width:50%;
    padding:20px;
    margin-right:50px;
}
.trial {
    background-color:hsl(248, 32%, 49%);
    color:white;
    padding:10px;
    border-radius:10px;
    text-align:center;
    width:100%;
    margin-bottom:20px;
    outline:none;
    border:none;
}
form {
    background-color:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 0 rgba(0, 0, 0, 0.1);
    display:flex;
    flex-direction:column;
    gap:10px;
}
input {
    padding:15px;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.1);
    outline:none;
    color:hsl(246, 25%, 77%);

}
input::placeholder {
    color:hsla(249, 10%, 26%, 0.6);
    font-weight:600;
}

form .claim {
    background-color:hsl(154, 59%, 51%);
    color:white;
    font-weight:600;
    padding:15px;
    border-radius:5px;
    text-align:center;
    border:none;
    outline:none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:pointer;
    box-shadow:0 5px 0 rgba(0, 0, 0, 0.1);

}
form p {
    font-size:0.8rem;
    text-align:center;
    color:hsl(246, 25%, 77%);

}
form a {
    font-size:0.8rem;
    color:hsl(0, 100%, 74%);
    text-decoration:none;
    font-weight:600;
    cursor:pointer;
}
.error {
     border:2px solid hsl(0, 100%, 74%);
     color:hsl(0, 100%, 74%);
}
.attribution {
    display:none;
}
/* Responsive Design for mobile */

@media screen and (max-width:600px) {
    .container {
        flex-direction:column;
        background-image:url(images/bg-intro-mobile.png);
    }
    .text {
        width:100%;
        padding:20px;
        text-align:center;

    }
    .text h1 {
        font-size:2rem;
    }
    .text p {
        font-size:1rem;
    }
    .right {
        width:100%;
        padding:20px;
        margin:0;
    }
}
/* Responsive Design for desktop */
@media screen and (min-width:601px) and (max-width:1200px) {
    .container {
        background-image:url(images/bg-intro-desktop.png);
        flex-direction: row;
        
    }
}
